body{
  padding-top: 2rem;
}

.container {
  margin: 0 auto;
  height: 94vh;
  width: 40vw;
  padding-top: 0.8rem;
}

.smallWhite {
  position: absolute;
  height: 16vh;
  width: 92%;
  margin-left: 0.8rem;
  margin-top: -28rem;
  
}

.white img {
  height: 12rem;
  width: 12rem;
}

.purple {
  height: 45vh;
  padding-top: 6rem;
}

.white {
  height: 45vh;
}

.purpleFirst {
  height: 12rem;
  width: 12rem;
  border: 1px solid white;
  margin: auto;
  border-radius: 50%;
  background-color: #C69CE7;
}

.purpleSecond {
  height: 10rem;
  width: 10rem;
  border: 1px solid white;
  margin: auto;
  border-radius: 50%;
  background-color: #C69CE7;
  margin: 0.9rem;
}

.purpleThird {
  height: 9rem;
  width: 9rem;
  margin: auto;
  border-radius: 50%;
  background-color: white;
  margin: 0.45rem;
  display: grid;
  padding: 0.6rem;
}

.purpleThird p {
  font-size: 16px;
  color: #974BD5;
  margin: 1.5rem;
  
}

.purpleThird h2 {
  font-size: 26px;
  margin: 0 2rem 2rem 2rem;
  color: #974BD5;
}

.answer-div {
  height: 2rem;
  margin: 0.7rem;
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.question-div {
  border: 1px solid #974BD5;
  height: 4rem;
  border-radius: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.image-div a {
  text-decoration: none;
  color: white;
  margin-left: 1.5rem;
  position: absolute;
  margin-top: -4rem;
}

.purpleTop {
  display: flex;
  justify-content: space-between;
}

.purpleTop .ri-restart-line {
  color: white;
  position: absolute;
  margin-left: -2.5rem;
  margin-top: -4rem;
}

.hidden {
  display: none;
}



.congrats,
.sorry {
  display: none;
  background-color: white;
  color: black;
  font-size: 24px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.congrats.show,
.sorry.show {
  display: block;
}

.question-div,
.answer-div {
  padding: 10px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

#timer {
  font-size: 32px;
  text-align: center;
  margin: 0;
  padding: 10px;
}


.english {
  position: absolute;
  margin-left: 12.5rem;
  margin-top: 2rem;
}

.english h3 {
  color: #974BD5;
}