.container {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .purple,
  .white {
    height: 15.5rem;
    padding-top: 3rem;
    border-radius: 10px;
  }
  
  .smallWhite {
    margin: 0.5rem 0;
    height: 6.5rem;
    width: 92% auto;
    margin-top: -19rem;
    margin-left: 0.52rem;
  }

  .white img {
    margin-top: 2rem;
  }

  /* .purpleFirst {
    height: 8rem;
    width: 8rem;
    border: 1px solid white;
    margin: auto;
    border-radius: 50%;
    background-color: #C69CE7;
} */
  
  /* .purpleFirst,
  .purpleSecond {
    height: 5rem;
    width: 5rem;
  }
  
  .purpleThird {
    height: 4rem;
    width: 4rem;
    margin-top: 0.25rem;
    padding: 0.5rem;
  } */
  
  .completion p,
  .correct p,
  .numOfQuestion p,
  .wrong p,
  .completion h2,
  .correct h2,
  .numOfQuestion h2,
  .wrong h2 {
    font-size: 10px;
  }
  